<%= stylesheet_link_tag('posts_show') %>

<div class="extended-posts">
  <div class="extended-post-header">
    <h4><%= @post.title %> by <%= @user&.name%></h4>
    <form action="/users/:user_id/posts/:post_id/likes" method="post">
      <input type="hidden" name="like[post_id]" value="<%= @post.id %>">
      <input type="submit" value="Like">
    </form>
    <span class="reaction-counter">Comments <%= @post.comments_counter %> Likes <%= @post.likes_counter%> </span>
  </div>
  <div class="post-text-extended">
    <p><%= @post.text%></p>
    <% if can?(:destroy, @post) %>
      <form action="<%= user_post_path(@user, @post) %>" method="post">
        <%= hidden_field_tag :_method, :delete %>
        <%= csrf_meta_tags %>
        <input type="submit" value="Delete Post" onclick="return confirm('Are you sure?');">
      </form>
    <% end %>
  </div>
 
  </div>

  <%= link_to "Add Comment", new_user_post_comment_path(@user, @post),
class: 'comment-button' %>

  <div class="comments">

    <% if @post.comments.any? %>
      <% @post.comments.each do |comment| %>
      <div class="comment">
        <span><%= comment.user&.name %>: <%= comment.text%> </span>
        <% if can?(:destroy, @post) %>
          <%= form_with(model: [@user, @post, comment], url: user_post_comment_path(@user, @post, comment), method: :delete) do |form| %>
          <%= form.hidden_field :_method, value: :delete %>
          <%= form.submit "Delete Comment", onclick: "return confirm('Are you sure?')" %>
        <% end %>
    <% end %>
      </div>
    <% end %>

    <% else %>
      <p>No comments available!</p>
    <% end %>
</div>


