<%= stylesheet_link_tag('posts_show') %>

<div class="extended-posts">
  <div class="extended-post-header">
    <h4><%= @post.title %> by <%= @user&.name%></h4>
      <form action="/users/:user_id/posts/:post_id/likes" method="post">
      <input type="hidden" name="like[post_id]" value="<%= @post.id %>">
      <input type="submit" value="Like">
    </form>
     <span class="reaction-counter">Comments <%= @post.comments_counter %> Likes <%= @post.likes_counter%> </span>
  </div>
  <div class="post-text-extended">
    <p><%= @post.text%></p>
  </div>
 
  </div>
  <div class="comments">

    <% if @post.comments.any? %>
      <% @post.comments.each do |comment| %>
      <div class="comment">
        <span><%= comment.user&.name %>: <%= comment.text%> </span>
      </div>
    <% end %>

    <% else %>
      <p>No comments available!</p>
    <% end %>
</div>
<div>
<%= render partial: 'comments/form', locals: {
      post: @post, comment: Comment.new } %>
</div>

